.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  flex-wrap: wrap;
}

@media (max-width: 600px) {
  .header {
    justify-content: center;
  }
}

.brand {
  font-family: var(--headfont);
  font-size: 30px;
  margin-left: 10px;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav ul li {
  display: inline-block;
}

.nav ul li a {
  display: block;
  padding: 10px 12px;
}
